<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Seems like you have requested a password reset.</p>
  <p>If it were really you, please click below to define a new password.</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  <p>If it wasn't you, discard this message.</p>
  <p>
    Thank you!<br>
    <strong>GoBarber Team</strong>
  </p>
</div>
